<div data-controller="dropdown">
  <div data-action="click->dropdown#toggle click@window->dropdown#hide" data-target="dropdown.button" role="button">
    <%= @button_text %>
  </div>
  <div data-target="dropdown.menu" hidden>
    <div class="bg-white shadow rounded border overflow-hidden" style="width: 200px">
      <ul class="list-reset px-2 py-1">
        <%= content %>
      </ul>
    </div>
  </div>
</div>
