<div class="card mb-2">
  <div class="card-body">
    <div class="d-flex">
      <h5 class="card-title mr-2"><%= news.title %></h5>
      <%= link_to edit_admin_news_path(news), class: "text-secondary mr-1" do %>
        <i class="far fa-edit"></i>
      <% end %>
      <%= link_to admin_news_path(news), class: "text-secondary", method: :delete, data: { confirm: t("confirmation") } do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    </div>
    <h6 class="card-subtitle text-muted"><%= news.created_at.strftime("%d-%m-%Y %T") %></h6>
  </div>
</div>
